@charset "UTF-8";
/* CSS Document */


@media only screen and (max-width : 768px) {

/*-------------------------------------------------------------------------------------
スマホ用レイアウト（768px以下スクリーン）
----------------------------------------------------------------------------------------*/

/*--------------------------------------------------
共通設定(スマホ)
-----------------------------------------------------*/
	
/*body全体の初期スタイル調整*/
body {
	width: 100%;
  -webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
    /*--------------------------------------------------
全体レイアウト／背景設定（スマホ）
-----------------------------------------------------*/
/*記事(ボディ)エリア*/
.article {
  background-color: #fff;
  border-left: none;
  border-right: none;
  font-size: 1.6em; /*=16px*/
}
/*記事(ボディ)エリアの行間*/
.article p {
  line-height: 1.6;
}

.article{
	width: 100%;
}

/*カラム全体の幅を変更する*/
.top_image_in,.section_inr {
  width: 100%;
  margin: 0 auto; /*真ん中に要素を置きたいときに使う*/
}
/*--------------------------------------------------
上部固定ヘッダー設定
-----------------------------------------------------*/
/*上部固定ヘッダー全体*/
.header {
  position:static;
  position: -webkit-sticky;
  top: 0;
  z-index: 5000;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  overflow: auto;
}
/*ヘッダー内部をカラム幅にする*/
.header_inr {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/*ヘッダーのロゴ*/
.header_logo {
  width: 12%;
  float: left;
  margin: 0.5em ;
}


/*ヘッダーの問い合わせボタン*/
.header_line {
  width: 50%;
  float: right;
  margin: 1em 0.5em;
}
    
/*--------------------------------------------------
ファーストビュー設定
-----------------------------------------------------*/
.top_image {
  background-image: none;
}
.top_image_in img {
  width: 100%;
}
    .pc_img { display: none !important; }
    .sp_img { display: block !important; }

    
 /*--------------------------------------------------
見出しタグ設定（スマホ）
-----------------------------------------------------*/
h2 {
  padding: 0.7em 0;
    font-size: 1.6em;
    letter-spacing: 0.1;
      line-height: 1.1;
}

h3 {
  position: relative;
  padding: 1em;
  text-align: center;
    font-size: 1.5em;
    letter-spacing: 1px;
}

h3:before {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 4px;
  content: '';
  border-radius: 3px;
  background: #d52438;
}
h4::before,
h4::after {
	content: '';
	width: 3px;
	height: 30px;
	background-color: #42210b;
}

h4::before {
	margin-right: 10px;
	transform: rotate(-35deg)
}
h4::after {
	margin-left: 10px;
	transform: rotate(35deg)
}
h5 {
  position: relative;
  padding: 1em;
  text-align: center;
      font-size: 1.4em;
    letter-spacing: 1px;
    color: #2b724c;

}

h5:before {
  position: absolute;
  bottom: 5px;
  left: calc(50% - 30px);
  width: 60px;
  height: 4px;
  content: '';
  border-radius: 3px;
  background: #2b724c;
}

h6 {
    border-bottom: 3px dotted #2b724c;
    font-size: 1.3em;
    margin: 0.5em 0;
    color: #42210b;
    line-height: 1.3;
}

.tit_all {
    width: 60%;
    margin: 0 auto;
    padding: 2em 0 1em;
    
}
        

/*--------------------------------------------------
sectionの設定
-----------------------------------------------------*/

.section_01 {
    padding: 1em 0em;
}
.section_02 {
    padding: 1em 0.3em;
}
.section_03 {
        background-image: url("../images/bg_section03.jpg");
    background-attachment:inherit;

    padding: 0em 0 2em;
}

.section_04 {
    padding: 2em 0em 0;
    margin-bottom: -6em;
}

.section_05 {
    background-position: top center;
    padding: 0em 0 2em;
}
.section_06 {
    padding: 2em 0;
}

.section_07 {
    background-position: center;
            background-attachment: inherit;

}

.section_08 {
    padding: 2em 0em 1em;
}
.section_09 {
    padding: 2em 0em;
   
}

/*--------------------------------------------------
CTAエリア
-----------------------------------------------------*/

.area_cta {
  padding: 2em 0 ;
}

.cta_logo {
    width: 25% ;
    margin: 0 auto 1em;

}

.tit_cta {
    width: 70% ;
    margin: 0 auto 1em;

}

.btn_cta_line {
    width: 95%;
    margin: 0.5em auto 0;
}
.btn_cta_form {
    width: 85%;
    margin: 0.5em auto;
}

/*--------------------------------------------------
新しい勉強のカタチ
-----------------------------------------------------*/

.waku_new {
    background-image: url("../images/waku_new_sp.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 2em 0.5em;
}

.waku_new p {
    font-weight: bold;
    font-size: 1.1em;
}
    
.txt_marutto {
    width: 330px;
    margin: 0.5em auto;
}
    
.tit_new {
    width: 85%;
    margin: 2em auto 3em;
}

.img_new {
    width: 80%;
    margin: 1em auto;
}

/*--------------------------------------------------
動画
-----------------------------------------------------*/

.movie {
    padding: 2em 0em;
}

.iframe-wrap {    position: relative;
    width: 98%;
    padding-top: 56.25%;
    margin: 0em auto ;
}



/*--------------------------------------------------
生徒実績
-----------------------------------------------------*/

.container_jisseki {
    width: 100%;
    padding: 1em 0 2em ;

}

.box_jisseki {
    width: 95%;
    padding: 15px 10px;
    margin: 10px auto;

}

.img_goukaku {
    float: right;
    padding: 10px 0px 5px 10px; 
    width: 20%;
}

.goukaku_txt {
        float: left;
    width: 80%;
        padding-top: 0.5em

}
.goukaku_txt p {
    line-height: 1.1;
    margin: 0;
}

.goukaku_com {
    font-weight: bold;
    text-align: center;
    color: #42210b;
    font-size: 0.9em;

}
.goukaku_scl {
    font-size: 1.6em;
    font-weight: bold;
  color: #d52438;
    letter-spacing: 2px;
    text-align: center;
}

.img_test {
    float: left;
    padding: 10px 10px 0 10px; 
    width: 30%;
}

.test_txt {
        float: right;
    width: 70%;
        padding-top: 1em

}
.test_txt p {
    line-height: 1.1;
    margin: 0;
}

.test_kekka {
    font-size: 2.3em;
}









        /* --- 進学実績・成績セクションのスマホ最適化 --- */
        
        /* スマホ表示（768px以下）の設定 */
        @media screen and (max-width: 768px) {
            
            .container_jisseki {
                width: 100% !important;
                padding: 10px 0 !important; /* 上下の余白を詰めました */
            }

            .box_jisseki {
                width: 95% !important;
                padding: 15px 10px !important;
                margin: 10px auto !important;
                background-color: #ffee7d !important; /* 背景の黄色を強制適用 */
                border-radius: 8px; /* 角を少し丸くするとバランスが良いです */
                overflow: hidden; /* float解除の代わり */
            }

            /* --- 進学実績（画像が右） --- */
            .img_goukaku {
                float: right !important;
                padding: 5px 0 5px 10px !important; 
                width: 25% !important; /* 画像サイズを調整 */
            }

            .goukaku_txt {
                float: left !important;
                width: 75% !important;
                padding-top: 5px !important;
            }

            .goukaku_com {
                font-weight: bold !important;
                text-align: center !important;
                color: #42210b !important;
                font-size: 0.85em !important; /* 文字がはみ出ないよう微調整 */
                line-height: 1.2 !important;
                margin-bottom: 5px !important;
            }

            .goukaku_scl {
                font-size: 3em !important; /* スマホで縦に潰れないサイズ */
                font-weight: bold !important;
                color: #d52438 !important;
                letter-spacing: 1px !important;
                text-align: center !important;
                line-height: 1.2 !important;
            }

            /* --- 定期テスト成績（画像が左） --- */
            .img_test {
                float: left !important;
                padding: 5px 10px 5px 0 !important; 
                width: 25% !important;
            }

            .test_txt {
                float: right !important;
                width: 75% !important;
                padding-top: 5px !important;
            }

            /* 「数学89点」などの結果部分 */
            .test_kekka {
                font-size: 3em !important; /* 大きすぎた場合はここを調整 */
                font-weight: bold !important;
                text-align: center !important;
                margin: 0 !important;
            }

            /* 数字の強調部分 */
            .big2 {
                font-size: 3em !important;
                
            }

            /* 共通：テキストの行間 */
            .goukaku_txt p, .test_txt p {
                line-height: 1.2 !important;
            }

            /* 料金テーブル（既存） */
            .sp_img {
                width: 100%;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
            }
            .sp_img table {
                width: auto;
                min-width: 700px;
            }
            .pc_img { display: none; }
        }

        /* PC表示（769px以上） */
        @media screen and (min-width: 769px) {
            .sp_img, .scroll-hint { display: none; }
            /* PC用のスタイルは style.css のものが適用されます */
        }








/*--------------------------------------------------
悩み
-----------------------------------------------------*/

.img_nayami {
    width: 180px;
    margin: 0em auto ;
}


.tit_nayami {
    width: 97%;
    margin: -0.3em auto 0.5em;
}

.ul-align-center{
    padding: 2em 0em 1em ;
    width: 95%;
    margin: 0 auto; 
   
  }

.box_nayami {
    margin: 0 auto;
    padding: 0.5em 0.3em 1em;

}
.box_nayami li {
    font-weight: 700;
    margin: 0 auto ;
    max-width: 100%;
    font-size: 1.05em;
    position: relative;
    padding-left: 1em;

}

.box_nayami li:before {
    padding-right: 0.3em;


}


/*--------------------------------------------------
３つの特徴
-----------------------------------------------------*/
.tit_tokucyou {
    width: 98%;
    margin: 0 auto 0;
    padding-top: 13em;
}
.ctn_tokucyou {
    padding: 1em 0;
}
.num_r {
    width: 50px;
    position: absolute;
    top: -7%;
    left: 85%;
}

.num_l {
    width: 50px;
    position: absolute;
    top: -6%;
    left: 6%;
}
.box_tokucyou {
    background: #fff;
    border-radius: 15px;
    padding: 2em 0.2em 1em;
    margin: 3em 0.5em 1em;
    box-shadow: 5px 5px 7px  #688187;
}
.img_tokucyou {
    float: none;
    width: 100%;
    padding: 0.5em;
}

.txt_tokucyou {
    float: none;
    width: 100%;
    padding:  0 1em;
    font-size: 1.1em;
}
.img_tokucyou02 {
    float: none;
    width: 100%;
    padding: 0.5em;
}

.txt_tokucyou02 {
    float: none;
    width: 100%;
    padding:  0 1em;
    font-size: 1.1em;
}


/*--------------------------------------------------
講師について
-----------------------------------------------------*/

.tit_about {
    width: 98%;
    margin: 0 auto;
    padding: 2em 0;
}

.img_about {
    padding: 2em 0.3em;
}
/*--------------------------------------------------
生徒の声
-----------------------------------------------------*/
.voice_ctn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em 0em;
}


.voice_box {
    width: 95%;
    margin: 0 auto 1em;
}


/*--------------------------------------------------
月額料金
-----------------------------------------------------*/

/*--------------------------------------------------
テーブル設定
-----------------------------------------------------*/
table {
  width: 95%;
  border: 2px solid #2b724c;
  margin: 2em auto 1em;
　
}
th, td {
  padding: 0.5em 0;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;

}
table th {
    padding: 1em;
}
table td {
  text-align: center;
  background-color: #fff;
    line-height: 1.2;
    width: 40%;
}
 
.kaisya th {
        width: 25%;
    }


.tit_hikaku {
    padding: 1em 0 0;
}

.img_price {
    float: none;
    width: 98%;
    padding: 1em 0.3em;
    margin: 1em auto;
}
.img_plan{
    padding: 2em 0 0;
}

.img_plan img {
    width: 100%;
    margin: 0 auto 1em;
    display: block;
}

.syu1 {
    text-align: center;
    font-size: 1.1em;
}
.syu1 p {
    line-height: 2;
}

.img_ozigi {
    width: 8%;
    margin: 0 auto;
    padding-top: 1em;
}


/*--------------------------------------------------
flow
-----------------------------------------------------*/
.box_flow {
        width:98%;
    padding: 0;
    margin-bottom: 60px;
        position: relative;
}

.box_flow:before {
    left: 46%;
border: 30px solid transparent;
    border-top: 20px solid #2b724c;
    content: "";
    position: absolute;
    bottom: -65px;
}

.box_flow_end {
            width:95%;
    margin: 5px auto;
    padding: 0 ;
}



.img_flow {
    float: left;
    width: 22%;
    padding: 1em 0.5em;
}

.txt_flow {
    float: right;
    width: 78%;
    padding: 0.5em 0.2em;
}


.step {
  position: relative;
  display: inline-block;
  padding: 0.2em 0.5em 0em 1em;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #2b724c;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
}

.step:before {
  position: absolute;
  top: calc(50% - 3px);
  left: 5px;
  width: 6px;
  height: 6px;
  content: '';
  border-radius: 50%;
  background: #fff;
}


/*--------------------------------------------------
アクセス
-----------------------------------------------------*/
.box_map {
    width: 95%;
    float: none;
    padding: 1em 0;
    margin: 0 auto;
    

}


.img_access {
    float: none;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    
}



/*--------------------------------------------------
よくある質問
-----------------------------------------------------*/
.accordion {
    max-width: 100%;
    padding: 0em 0.5em 4em;

}

/*------------------------------

ここからアコーディオンのCSS

------------------------------*/
/* チェックボックスは非表示 */
.accordion-hidden {
    display: none;
}

/* Question部分 */
.accordion-open {
    display: block;
    padding: 1.5em 0em 1.5em 0.5em;
    background: #e2f2e6;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin: 5px 0;
    position: relative;
    color: #2b724c;
    font-weight: bold;
    /* 変更部分 */
}

/* 開閉状態を示すアイコン+の作成 */
.accordion-open::before,
.accordion-open::after {
    content: '';
    width: 20px;
    height: 3px;
    background: #2b724c;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

/* 一本は縦にして+を作る */
.accordion-open::after {
    transform: translateY(-50%) rotate(90deg);
    transition: .5s;
}

/* アコーディオンが開いたら縦棒を横棒にして-にする */
.accordion-hidden:checked + .accordion-open:after {
    transform: translateY(-50%) rotate(0);
}

/* Answer部分 */
.accordion-close {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    /* 表示速度の設定 */
}

/* チェックボックスにチェックが入ったらAnswer部分を表示する */
.accordion-hidden:checked + .accordion-open + .accordion-close {
    height: auto;
    opacity: 1;
    padding: 10px;
    background: #f1f1f1;
}
    
    /*--------------------------------------------------
下部固定ヘッダー（スマホ）
-----------------------------------------------------*/
     
#sp_btn {
        display: block!important;
        width: 100%;
        background:rgba(0,0,0,0.4);
        text-align: center;
        padding: 0.8em 0.5em;
    }
        
 #sp_btn img {
        width: 95%;
    }
    
    .fixed {
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 10000;
        
    }


/*--------------------------------------------------
フッター部分
-----------------------------------------------------*/
.footer {
  padding: 2em 0em 9em;
  font-size: 1.2em;
}
}





 /* 全般的なテーブルスタイル */
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: "Noto Sans JP", sans-serif;
            font-size: 14px;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 12px 8px; /* 左右のパディングを少し詰めました */
            text-align: center;
            line-height: 1.5;
            /* 一律の min-width を解除し、中身に応じた最小幅にします */
            min-width: auto; 
        }

        /* 各カラムの最小幅をコンテンツ量に合わせて個別調整 */
        /* 小学生・中学生などは狭く、高校生は広く設定 */
        td:nth-child(2), td:nth-child(3) {
            min-width: 120px; 
        }
        td:nth-child(4), td:nth-child(5) {
            min-width: 220px; /* 文字数の多い高校生のカラムを広めに確保 */
        }

        /* 左端の見出し列 */
        th:first-child {
            min-width: 80px;
        }

        .tb_green {
            background-color: #e6f4ea;
            color: #2e7d32;
            font-weight: bold;
        }

        th {
            background-color: #f8f9fa;
            white-space: nowrap;
        }

        tr:last-child td {
            font-weight: bold;
            
        }

        /* --- レスポンシブ設定 --- */

        /* PC表示の制御 */
        @media screen and (min-width: 769px) {
            .sp_img {
                display: none; /* スマホ用を隠す */
            }
        }

        /* スマホ表示の制御 */
        @media screen and (max-width: 768px) {
            .pc_img {
                display: none; /* PC用を隠す */
            }

            /* テーブルを囲む div (sp_img) に対してスクロールを設定 */
            .sp_img {
                width: 100%;
                overflow-x: auto; /* 横方向に内容がはみ出た場合にスクロールを出す */
                -webkit-overflow-scrolling: touch; /* iOSでのスクロールを滑らかにする */
                border: 1px solid #eee;
                margin-bottom: 10px;
            }

            .sp_img table {
                width: auto; 
                /* min-width: 1000px; を削除し、セルの合計値で決まるように変更 */
                margin-bottom: 0;
            }
            
            .scroll-hint {
                display: block;
                text-align: center;
                font-size: 11px;
                color: #888;
                margin-bottom: 20px;
            }
        }

        /* PC時はヒントを隠す */
        @media screen and (min-width: 769px) {
            .scroll-hint {
                display: none;
            }
        }

        /* スクロールバーのカスタマイズ（任意） */
        .sp_img::-webkit-scrollbar {
            height: 6px;
        }
        .sp_img::-webkit-scrollbar-thumb {
            background: #ddd;
            border-radius: 10px;
        }

/* 進学実績画像専用スタイル
   HTML側で <img src="images/shingakujissekidaigaku.png" class="img_jisseki_responsive" alt="進学実績"> 
   のようにクラスを指定してください。
*/

.img_jisseki_responsive {
    display: block;
    width: 100%;      /* 親要素の幅いっぱいに広げる */
    max-width: 900px;  /* PCで広がりすぎないよう最大幅を制限（適宜調整してください） */
    height: auto;     /* 縦横比を維持 */
    margin: 30px auto; /* 上下に余白を作り、中央寄せにする */
    border-radius: 5px; /* 必要に応じて角をわずかに丸くする */
}

/* スマホ表示（768px以下）での微調整 */
@media screen and (max-width: 768px) {
    .img_jisseki_responsive {
        width: 95%;     /* スマホでは画面端に近すぎないよう、左右に少し隙間を作る */
        margin: 20px auto; /* スマホ用に上下余白を少し詰める */
    }
}
        








        
